---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} <span class="font-bold">Noor Ahmed</span>
  </div>
  <div class="opacity-75 text-xs font-mono uppercase tracking-widest">
    Software Engineer • Open Source Contributor • Social Worker • Content Creator
  </div>
</footer>
<style></style>